---
import NavLink from './NavLink.astro';
---
<nav class="navbar navbar-expand mb-4 bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/logo.png" alt="Logo" width="32" height="32" class="d-inline-block me-2">
      <span>Visio Web Tools</span>
    </a>
    <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <NavLink href="/" text="Tools" />
        <NavLink href="/support" text="Support" />
        <NavLink href="/about" text="About" />
      </ul>
    </div>
  </div>
</nav>
