---
const { href, hrefImage, text } = Astro.props;
---
<a href={href} class="btn btn-primary" target="_blank"><img src={hrefImage} style="width: 2rem; height: 2rem; margin-right: 0.7rem; vertical-align:middle"/>{text}</a>
