---
const { href, hrefImage, text } = Astro.props;
---
<a href={href} class="not-prose no-underline btn-primary inline-flex items-center"><img src={hrefImage} alt="Descriptive alt text" class="h-5 w-5 mr-2"><span>{text}</span></a>
