---
const { href, hrefImage, text } = Astro.props;
---
<a href={href} class="not-prose no-underline inline-flex items-center bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded focus:outline-none"><img src={hrefImage} alt="Descriptive alt text" class="h-5 w-5 mr-2"><span>{text}</span></a>
