--- 
const { frontmatter } = Astro.props;
import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
    
		<meta charset="UTF-8" />
		<meta name="description" content="Visio Web Tools is a collection of tools (mini-apps) for working with Visio files online. These tools can process Visio files directly online, without the need to install Visio on your computer.">
		<meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Visio Web Tools" />
    <meta property="og:description" content="Visio Web Tools is a collection of tools (mini-apps) for working with Visio files online. These tools can process Visio files directly online, without the need to install Visio on your computer." />
    <meta property="og:image" content="https://webtools.unmanagedvisio.com/og.png" />
    <meta property="og:image:width" content="912" />
    <meta property="og:image:height" content="536" />
    <meta property="og:url" content="https://webtools.unmanagedvisio.com/" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
		<title>{frontmatter?.title}</title>
    </head>
	<body>
    <Header />
    <div class="max-w-7xl mx-auto px-4 prose my-10">
      <slot />
    </div>
	</body>
</html>
